  extends layout
  append header
    header#header
      // header
      .header-middle
        // header_top
        .container
          .row            
            .col-sm-1
            .col-sm-2
              .logo.pull-left
                a(href='/beranda')
                  img(src='/images/home/logo.png', alt='')
            .col-sm-9
              .mainmenu
                ul.nav.navbar-nav
                  li.dropdown
                    a(href='#')
                      | Kategori
                      i.fa.fa-angle-down
                    ul.sub-menu(role='menu')
                      .col-sm-4
                        li
                          a(href='/produk/caridaftar') Fashion
                        li
                          a(href='/produk/caridaftar') Pakaian
                        li
                          a(href='/produk/caridaftar') Kecantikan
                        li
                          a(href='/produk/caridaftar') Mainan & Hobi
                      .col-sm-4
                        li
                          a(href='/produk/caridaftar/55cbf43451812a88042376d9') Buku
                        li
                          a(href='/produk/caridaftar/55cbf43451812a8804237611') Laptop & Aksesoris
                        li
                          a(href='/produk/caridaftar/55cbf43451812a8804217610') Komputer & Aksesoris
                        li
                          a(href='checkout.html') Elektronik
                        li
                          a(href='cart.html') Kamera,Foto & Video
                        li
                          a(href='login.html') Otomotif
                        li
                          a(href='/produk/caridaftar/55cbf43451812a88042376d1') Handphone & Tablet
                      .col-sm-4
                        li
                          a(href='shop.html') Office & Stationery
                        li
                          a(href='product-details.html') Souvenir, Kado & Hadiah
                        li
                          a(href='product-details.html') Mainan & Hobi
                        li
                          a(href='checkout.html') Makanan & Minuman
                        li
                          a(href='login.html') Software
                        li
                          a(href='login.html') Film,Musik & Game
                      li
                        a(href='login.html') Tampilkan Semua Kategori
                  li
                    form(action='/cekPencarian', method='get')
                      input(type='text', placeholder='Cari....')
                      select(name='pilihan',style='width:200px')
                        option(value='barokah')  Semua Kategori
                        option(value='barokah')  barokah 
                        option(value='barokah1')  barokah 1
                        option(value='barokah2')  barokah 2
                      input(type='submit', value='cari')
                  li
                    a(href='#')
                      i.fa.fa-user
                      |  Daftar
                  li
                    a(href='cart.html')
                      i.fa.fa-shopping-cart
                      |  Bantuan
                  li
                    a(href='/login') masuk

      // /header_top
    // /header
    br
    br