html
   head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')                 
    
   body
        .container(style="height: 120px;")
            .row.clearfix

        .container
            .col-lg-12.column
                .col-lg-4.column
                .col-lg-4.column
                    p(class="panel-title" style="text-align: center; font-weight: bold;") sedang dibangun, silahkan ke halaman masuk
                        .col-lg-4
                            a.btn.btn-primary(href="/login" ) Masuk
