extends ../layoutBelanja  
  
append content
  .well
    h2 #{kategori}
    p(style='width:370px') Laptop sangat dibutuhkan oleh Anda yang ingin melakukan pekerjaan dengan komputer namun sering berpindah-pindah tempat. Berbagai jenis dan merk laptop beserta aksesorisnya juga membanjiri pasar. Temukan laptop dan aksesorisnya hanya di Tokopedia.
  .col-sm-9                                
    .col-sm-3
      select(name='pilihan')
        option(value='barokah')  Pilih Lokasi
        option(value='barokah')  Kendari
        option(value='barokah')  Cianjur
    .col-sm-3
      select(name='pilihan')
        option(value='barokah')  Pilih Lokasi
        option(value='barokah')  Semua Etalase
        option(value='barokah')  Gudang
        option(value='barokah')  Pengawasan
    .col-sm-3
      input(placeholder='Min')
    .col-sm-2
      input(placeholder='Maks')
    hr
    br
    if(listProduk.length == 0)
     .alert.alert-danger  
      center 
       h4 
        b Tidak Ada Produk                                     

    each value in listProduk               
     .col-sm-3
      .product-image-wrapper
        .single-products
         .productinfo.text-center
            img(src='#{value.gambar}', alt='')
            h2 Rp 56.000
            .row-fluid
              span.col-sm-8
                b
                  a(href='#') #{value.nama}
              span.text-right.ellipsis
                i.fa.fa-dribbble  
                | jakarta
            hr
            i.fa.fa-star
            a(href='#') Barokah Clothing    

  .col-sm-3
        h3 promote 
