extends ../layout  
  
append content
 h3 Daftar Produk
 br 
 .col-sm-3
    select(name='pilihan')
     option(value='barokah')  Semua Kategori
     option(value='barokah')  Semua Kategori
     option(value='barokah')  Semua Kategori    
 .col-sm-3
    select(name='pilihan')
     option(value='barokah')  Semua Produk
     option(value='barokah')  Semua Etalase
     option(value='barokah')  Gudang
     option(value='barokah')  Pengawasan
 .col-sm-3
    select(name='pilihan')
     option(value='barokah')  Semua Kondisi
     option(value='barokah')  Baru
     option(value='barokah')  Bekas 
 .col-sm-3
    select(name='pilihan')     
     option(value='barokah')  Dengan & Tanpa Gambar
     option(value='barokah')  Tanpa Gambar
     option(value='barokah')  Punya Gambar
     
 hr
 br
 .alert.alert-danger  
  center 
   h4 
    b Tidak Ada Produk

            